# http://www.gnu.org/software/automake
/build
/out
/.vs

# Generated Makefile 
# (meta build system like autotools, 
# can automatically generate from config.status script
# (which is called by configure script))
Makefile
